.wrapper-div-152 {
  position: relative;
  max-width: 1242px;
  margin: auto;
  padding: 0px;
  box-sizing: border-box;
}
.nodeBg-153 {
  object-fit: cover;
  opacity: 1;
}
.nodeBg-155 {
  object-fit: cover;
  opacity: 1;
}
.nodeBg-156 {
  object-fit: cover;
  opacity: 1;
}
