.wrapper-div-159 {
  position: relative;
  max-width: 1242px;
  margin: auto;
  padding: 0px;
  box-sizing: border-box;
}
.walnut-grace-ch-165-0 {
  font-size: 17px;

  line-height: 18px;

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #000000ff;
}
.nodeBg-167 {
  object-fit: cover;
  opacity: 1;
}
.chair-169-0 {
  font-size: 17px;

  line-height: 18px;

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #000000bd;
}

.c-3500-170-0 {
  font-size: 17px;

  line-height: 18px;

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #000000bd;
}

.minimalist-stor-174-0 {
  font-size: 17px;

  line-height: 18px;

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #000000ff;
}
.nodeBg-176 {
  object-fit: contain;
  opacity: 1;
}
.chair-178-0 {
  font-size: 17px;

  line-height: 18px;

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #000000bd;
}

.c-3500-179-0 {
  font-size: 17px;

  line-height: 18px;

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #000000bd;
}

.relaxation-couc-183-0 {
  font-size: 17px;

  line-height: 18px;

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #000000ff;
}
.nodeBg-185 {
  object-fit: cover;
  opacity: 1;
}
.chair-187-0 {
  font-size: 17px;

  line-height: 18px;

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #000000bd;
}

.c-3500-188-0 {
  font-size: 17px;

  line-height: 18px;

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #000000bd;
}

.swivel-chair-192-0 {
  font-size: 17px;

  line-height: 18px;

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #000000ff;
}
.nodeBg-194 {
  object-fit: cover;
  opacity: 1;
}
.chair-196-0 {
  font-size: 17px;

  line-height: 18px;

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #000000bd;
}

.c-3500-197-0 {
  font-size: 17px;

  line-height: 18px;

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #000000bd;
}

.chair-1101-0 {
  font-size: 17px;

  line-height: 18px;

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #000000bd;
}

.c-3500-1102-0 {
  font-size: 17px;

  line-height: 18px;

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #000000bd;
}

.folding-chair-1106-0 {
  font-size: 17px;

  line-height: 18px;

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #000000ff;
}
.nodeBg-1108 {
  object-fit: cover;
  opacity: 1;
}
.chair-1112-0 {
  font-size: 17px;

  line-height: 18px;

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #000000bd;
}

.c-3500-1113-0 {
  font-size: 17px;

  line-height: 18px;

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #000000bd;
}
.nodeBg-1114 {
  object-fit: cover;
  opacity: 1;
}
.blush-chaise-lo-1116-0 {
  font-size: 17px;

  line-height: 18px;

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #000000ff;
}

.chair-1120-0 {
  font-size: 17px;

  line-height: 18px;

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #000000bd;
}

.c-3500-1121-0 {
  font-size: 17px;

  line-height: 18px;

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #000000bd;
}

.modern-sofa-1123-0 {
  font-size: 17px;

  line-height: 18px;

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #000000ff;
}
.nodeBg-1124 {
  object-fit: cover;
  opacity: 1;
}
.chair-1128-0 {
  font-size: 17px;

  line-height: 18px;

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #000000bd;
}

.c-3500-1129-0 {
  font-size: 17px;

  line-height: 18px;

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #000000bd;
}

.tray-table-1131-0 {
  font-size: 17px;

  line-height: 18px;

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #000000ff;
}
.nodeBg-1132 {
  object-fit: cover;
  opacity: 1;
}
