.wrapper-div-124 {
  position: relative;
  max-width: 1242px;
  margin: auto;
  padding: 0px;
  box-sizing: border-box;
}
.elevate-your-sp-127-0 {
  font-size: 42px;

  line-height: 43px;

  font-family: Poppins;
  font-weight: 600;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #000000ff;
}

.discover-the-be-128-0 {
  font-size: 19px;

  line-height: 31.027498245239258px;

  font-family: Poppins;
  font-weight: 300;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #000000ff;
}

.shop-now-131-0 {
  font-size: 17px;

  line-height: 27.924748420715332px;

  font-family: Poppins;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #ffffffff;
}

.watch-demo-132-0 {
  font-size: 17px;

  line-height: 27.924748420715332px;

  font-family: Poppins;
  font-weight: 500;

  text-decoration: underline;
  text-transform: none;
  white-space: nowrap;
  color: #000000ff;
}

.c-2500-136-0 {
  font-size: 21px;

  line-height: 22px;

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #000000ff;
}

.unique-styles-138-0 {
  font-size: 15px;

  line-height: 16px;

  font-family: Poppins;
  font-weight: 300;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #000000ff;
}

.c-3000-141-0 {
  font-size: 21px;

  line-height: 22px;

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #000000ff;
}

.happy-customers-143-0 {
  font-size: 15px;

  line-height: 16px;

  font-family: Poppins;
  font-weight: 300;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #000000ff;
}

.c-100-146-0 {
  font-size: 21px;

  line-height: 22px;

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #000000ff;
}

.certified-outle-148-0 {
  font-size: 15px;

  line-height: 16px;

  font-family: Poppins;
  font-weight: 300;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #000000ff;
}
.nodeBg-149 {
  object-fit: cover;
  opacity: 1;
}
